<%= link_to 'hero', hero_path(@hero) %>

<h1><%= @gift.name %></h1>
<h2>skills:</h2>
<% @skills.each do |skill| %>
	<div>
	<%= skill.name %> 
	<span><%= link_to 'delete', skill_path(skill), method: :delete %> </span> 
	<span><%= link_to 'Show', skill_path(skill) %></span> 
	<span><%= link_to 'Edit', edit_skill_path(skill) %></span> 
	</div>
<% end %>
<%= form_for @skill, url: gift_skills_path(@gift) do |f| %>
	<p><%= f.text_field :name %></p>
	<p><%= f.submit %></p>
<% end %>

<%= will_paginate @skills %>